<style>


</style>





{{#breadcrumb_default}}
  <section class="konten1" style="color: blue; background-color:#003666; height:700px; display:flex; justify-content:center;align-items : center ">
  
      <div class="row bungkus py-5">
        {{! isi konten breadcump }}
         <div class="isi col-sm-12 col-lg-6 col-md-12 d-flex justify-content-center flex-column align-items-center " >
            {{#if_breadcrumb_title}}
            <h1 class="font text-center "> Stechoq Training Center </h1>
            <p class="font text-center">
            Technology is bringing a massive wave of <br>
            evolution on learning things on diferent ways. <br>
            </p>

            <div>
              <button class="btn btn-sm btn-warning breadcrumb_title">{{{ pageheading }}}</button>
            </div>

            {{/if_breadcrumb_title}}
        </div>

        <div class="col-md-12 col-sm-12 col-lg-6 px-lg-0 px-5 d-flex justify-content-center flex-column align-items-center ">
         <img id="imges" src="{{{ breadcumb_img }}}" alt="Description of the image" class="img-fluid">
        </div>  
      </div>


{{! konten testi }}
      <div class="testi d-flex justify-content-center align-items-center">
        <div class="row col-lg-12 grid ">
        <div class="col-lg-3 d-flex justify-content-center align-items-left flex-column">
          <h1 class="mb-0 angka">250+</h1>
          <p class="mt-0 desk">
          More Eficient at<br>
          On Boarding</p>
        </div>

        <div div class="col-lg-3 d-flex justify-content-center align-items-left flex-column">
        <h1 class="mb-0 angka">250+</h1>
        <p class="mx-0 desk">Active Student Participate in our program</p>
        </div>

        <div div class="col-lg-3 d-flex justify-content-center align-items-left flex-column">
        <h1 class="mb-0 angka">110+</h1>
        <p class="mt-0 desk">Learning Content <br>
        Vidio and E-book</p>
        </div>

        <div div class="col-lg-3 d-flex justify-content-center align-items-left flex-column">
        <h1 class="mb-0 angka">60+</h1>
        <p class="mbt-0 desk">Interactive Quizez <br> 
        Task And Project</p>
        </div>
        <a href="https://wa.me/6285226457536">
          <div class="wa d-flex justify-content-center align-items-center shadow">
          <img class="col-lg-6 " src="https://i.postimg.cc/Y96CqVMD/logo-wa.png">
          <h2 class="col-lg-6 font-weight-bold text-navy d-flex justify-content-center align-items-center" style="font-size: 1em;"> Whatsupp</h2>
          </div>
        </a>

      </div>

      <br>
      <br>
  </section>
  
<br>
<br>
<br>
{{! konten benefit our program }}
  <section class="d-flex flex-column justify-content-center align-items-center ">
  <h2> Benefit our program </h2> <br>
  <p style="text-align:center ">Develop your skills with flexible schedules <br>
      and earn a certificate<p>


      {{! box  }}
  <div class="card-columns d-flex flex-row justify-content-center align-items-center">
  <div class="card shadow" style="width: 300px;">
    <div class="card-body text-left ">
    <h3>Professional Tutor</h3>
      <p class="card-text">Professional Tutor</p>
    </div>
  </div>
  <div class="card shadow" style="width: 300px;">
    <div class="card-body text-left">
    <h3>Ceritificate<h3>
      <p class="card-text">Ceritificate</p>
    </div>
  </div>
  <div class="card shadow" style="width: 300px;">
    <div class="card-body text-left">
    <h3>Affordable Pricle</h3>
      <p class="card-text">Affordable Pricle</p>
    </div>
  </div>
 
</div>
  </section>
{{/breadcrumb_default}}


{{#breadcrumb_m}}
  <section class="inner_page_breadcrumb ccn_breadcrumb_m {{{ breadcrumb_classes }}}">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 text-center">
          <div class="breadcrumb_content">
            {{#if_breadcrumb_title}}
              <h4 class="breadcrumb_title">{{{ pageheading }}}</h4>
            {{/if_breadcrumb_title}}
            {{#if_breadcrumb_trail}}
              {{{ output.navbar }}}
            {{/if_breadcrumb_trail}}
          </div>
        </div>
      </div>
    </div>
  </section>
{{/breadcrumb_m}}
{{#breadcrumb_s}}
  <section class="inner_page_breadcrumb ccn_breadcrumb_s {{{ breadcrumb_classes }}}">
    <div class="container">
      <div class="breadcrumb_content">
        <div class="row">
          {{#if_breadcrumb_title}}
            <div class="{{#if_breadcrumb_trail}}col-xl-6{{/if_breadcrumb_trail}}{{^if_breadcrumb_trail}}col-xl-12{{/if_breadcrumb_trail}}">
              <h4 class="breadcrumb_title">{{{ pageheading }}}</h4>
            </div>
          {{/if_breadcrumb_title}}
          {{#if_breadcrumb_trail}}
            <div class="{{#if_breadcrumb_title}}col-xl-6{{/if_breadcrumb_title}}{{^if_breadcrumb_title}}col-xl-12{{/if_breadcrumb_title}}">
              {{{ output.navbar }}}
            </div>
          {{/if_breadcrumb_trail}}
        </div>
      </div>
    </div>
  </section>
{{/breadcrumb_s}}
{{#breadcrumb_xs}}
  <section class="inner_page_breadcrumb ccn_breadcrumb_s ccn_breadcrumb_xs {{{ breadcrumb_classes }}}">
    <div class="container">
      <div class="breadcrumb_content">
        <div class="row">
          {{#if_breadcrumb_title}}
            <div class="{{#if_breadcrumb_trail}}col-xl-6{{/if_breadcrumb_trail}}{{^if_breadcrumb_trail}}col-xl-12{{/if_breadcrumb_trail}}">
              <h4 class="breadcrumb_title">{{{ pageheading }}}</h4>
            </div>
          {{/if_breadcrumb_title}}
          {{#if_breadcrumb_trail}}
            <div class="{{#if_breadcrumb_title}}col-xl-6{{/if_breadcrumb_title}}{{^if_breadcrumb_title}}col-xl-12{{/if_breadcrumb_title}}">
              {{{ output.navbar }}}
            </div>
          {{/if_breadcrumb_trail}}
        </div>
      </div>
    </div>
  </section>
{{/breadcrumb_xs}}
{{#breadcrumb_hidden}}
  <section class="inner_page_breadcrumb ccn_breadcrumb_absent">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 text-center">
        </div>
      </div>
    </div>
  </section>
{{/breadcrumb_hidden}}
