body {
    font-family: "Roboto",apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
#nav-drawer {
    border-top-right-radius: 30px; /* Membuat sudut kanan atas melengkung */
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2); /* Bayangan di sisi kanan */
    background-color: #fff;
}

#nav-drawer .list-group ul {
    font-size: large;
    font-weight: 600;

}

[data-region="drawer"] {
    top: 0px;
    height: 100%;
    overflow-y: auto;
}

@media (max-width: 767px) {
    [data-region="drawer"] {
        transition: transform 0.3s ease; /* Transisi transform (posisi) selama 0.3 detik dengan kurva percepatan */
        transform: translateX(-285px); } }

.list-group-item {
    border: none;
    margin-top: 20px;
    background: none;
    color: $primary;
}

.list-group-item-action{
    border-radius: 8px; 
}
.img-fluid{
    max-width: 75%;
}
// #page {
//     margin: 0;
//     width: 100%;
// }

// .navbar {
//     width: 1000px;
// }

