body {
    font-family: "Roboto",apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    background-color: $background-color;
}

a {
    font-weight: 600;
}

#page {
    margin-top: 0; }

#page-header a {
    // color: red;
    font-size: 1.2rem;
}
    
#nav-drawer {
    border-top-right-radius: 30px; /* Membuat sudut kanan atas melengkung */
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.2); /* Bayangan di sisi kanan */
    background-color: #fff;
}

#nav-drawer .list-group ul {
    // font-size: large;
    font-weight: 600;
}

[data-region="drawer"] {
    top: 0px;
    height: 100%;
    overflow-y: auto;
}

@media (max-width: 767px) {
    [data-region="drawer"] {
        transition: transform 0.3s ease; /* Transisi transform (posisi) selama 0.3 detik dengan kurva percepatan */
        transform: translateX(-285px); } }

.list-group-item {
    border: none;
    margin-top: 20px;
    background: none;
    color: $primary;
}

.list-group-item-action{
    border-radius: 8px; 
}
.img-fluid{
    max-width: 75%;
}
// #page {
//     margin: 0;
//     width: 100%;
// }

// .navbar {
//     width: 1000px;
// }

// @media (min-width: 768px) {
// body.drawer-open-left {
//     margin-left: 255px;
// }}

.simplesearchform .btn {
    border: none;
}
.simplesearchform .form-control {
    border: none;
}

.search_overlay {
    border: 2px solid #bdbdbd;
}

.btn-outline-primary {
    color: #bdbdbd;
}

.btn-outline-primary:hover {
    background-color: #ffffff;
    color: #bdbdbd;
    font-size: large;
}

// === STYLING LAYOUT PAGE CONTENT ===

@media (min-width: 576px) {
    #region-main {
    border: none;
}}

    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
      font-weight: 600;
      color: $primary; }

.card {
    border-radius: 8px;
    border: none;
}




.course_category_tree {
    // border: 2px solid darkred;
    
}

.courses {
    display: flex;
    column-count: auto;
    gap: 40px;
    flex-wrap: wrap;
    margin-left: 0;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}

.coursebox {
    display: flex;
    flex-direction: column-reverse;
}

.courses .coursebox.even,
.courses .coursebox.odd {
    border: 1px solid $primary;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.coursebox>.info>.coursename a {
    background-image: none;
    padding-left: 0;
}

.coursebox>.info {
    width: 100%;
}

.coursebox .content {
    clear: both; 
    display: flex;
    justify-content: center;
}

.coursebox .content>.courseimage{
    width: 100%;
    height: auto;

}

.coursebox .content .courseimage img {
    width: 100%;
    height: auto; 
    max-width: none;
    max-height: none;}

@media (max-width: 900px) {
    .coursebox {
    min-width: 45%;
}}

@media (max-width: 576px) {
    .coursebox {
    min-width: 100%;
    }}